<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prediction-yes</title>
    <link rel="stylesheet" href="static\style1.css">
</head>
<body>
    <div class="main">
    <h1>TELECOM CUSTOMER CHURN PREDICTION</h1>
    <img src="static\predyes.jpg" >
    <h2>THE CHURN PREDICTION SAYS <u>YES</u></h2>
     <a href="http://127.0.0.1:5000">click to predict</a>
    </div>
</body>
</html>